@font-face {
  font-family: "Nordic";
  src: url("../fonts/Nordic Alternative Regular.ttf") format("truetype");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #1d3e3c;
}


