h1 {
    font-family: "Nordic";
    font-weight: bold;
    font-size: 3rem;
  }
  
  .login {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 2;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* @media (min-width: 768px) {
    .login {
      width: 60%;
    }
  }
  
  @media (min-width: 992px) {
    .login {
      width: 40%;
    }
  } */
  
  button[type="submit"], #NewChar {
    width: 45%;
    background-color: #1d3e3c;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin: 2.5% 0 10% 0;
  }

  .next {
    width: 100%;
    background-color: #1d3e3c;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin: 2.5% 0 10% 0;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-bottom: 3px solid #1d3e3c;
    border-right: 3px solid #1d3e3c;
    border-radius: 0%;
    color: #fff;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-bottom: 3px solid #1d3e3c;
    border-right: 3px solid #1d3e3c;
    border-radius: 0%;
    color: #fff;
  }

  .class-button {
    width: 30%;
    text-align: center;
    margin: 1rem 0.5rem;
    color: #fff;
    background-color: #1d3e3c;
    display: inline-block;
    transition: color .45s cubic-bezier(.785, .135, .15, .86),border .45s cubic-bezier(.785, .135, .15, .86);
  }

  .class-button:hover {
    color: #000;
    background-color: #fff;
  }

  .player-stat {
    width: auto;
    display: inline-block;
  }